@import '../../styles/colorVariables.scss';

.textInput {
  margin-top: 15px;
  width: 40%;
  padding: 10px;
  background-color: $white;
  color: $dark;
  border-radius: 15px;
  border: none;
  outline: none;
}
