@import '../../styles/colorVariables.scss';

.textField {
  width: 40%;
  height: 200px;
  background-color: $gray;
  color: $dark;
  padding: 15px;
  border-radius: 15px;
  border: 1px dashed $blue;
}

.focus {
  color: $blue;
  text-decoration: underline;
}

.error {
  color: $red;
}

.beforeFocus {
  color: grey;
}
